In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/7. Udemy Courses.csv')
df

      course_id  ...              subject
0        288942  ...  Musical Instruments
1       1170074  ...  Musical Instruments
2       1193886  ...  Musical Instruments
3       1116700  ...  Musical Instruments
4       1120410  ...  Musical Instruments
...         ...  ...                  ...
3677     328960  ...      Web Development
3678     552700  ...  Musical Instruments
3679     631754  ...      Web Development
3680    1225194  ...     Business Finance
3681     964478  ...       Graphic Design

[3682 rows x 11 columns]

In [ ]:
df.head()

   course_id  ...              subject
0     288942  ...  Musical Instruments
1    1170074  ...  Musical Instruments
2    1193886  ...  Musical Instruments
3    1116700  ...  Musical Instruments
4    1120410  ...  Musical Instruments

[5 rows x 11 columns]

***diff subjects offered by udemy***

In [ ]:
df['subject'].value_counts()

Web Development        1200
Business Finance       1199
Musical Instruments     680
Graphic Design          603
Name: subject, dtype: int64

In [ ]:
df['subject'].unique()

array(['Musical Instruments', 'Business Finance', 'Graphic Design',
       'Web Development'], dtype=object)

***show all courses which are free***

In [ ]:
df[df.is_paid==False]

      course_id  ...              subject
41       286070  ...  Musical Instruments
49       696630  ...  Musical Instruments
57       955914  ...  Musical Instruments
67       270976  ...      Web Development
74      1214144  ...     Business Finance
...         ...  ...                  ...
3620     552598  ...      Web Development
3638    1068590  ...      Web Development
3652     752706  ...      Web Development
3674    1257976  ...  Musical Instruments
3680    1225194  ...     Business Finance

[310 rows x 11 columns]

***higest selling course***

In [ ]:
df.sort_values('num_subscribers',ascending = False)

      course_id  ...              subject
2230      41295  ...      Web Development
776       59014  ...      Web Development
3385     625204  ...      Web Development
640      173548  ...      Web Development
3316     764164  ...      Web Development
...         ...  ...                  ...
2290    1223240  ...  Musical Instruments
1267    1258666  ...     Business Finance
2070    1215926  ...     Business Finance
1931    1247992  ...     Business Finance
3165    1087466  ...     Business Finance

[3682 rows x 11 columns]

***show graphic design course where prices are less than 100***

In [ ]:
df[(df.subject == 'Graphic Design') & (df.price<'100')]

Empty DataFrame
Columns: [course_id, course_title, is_paid, price, num_subscribers, num_reviews, num_lectures, level, content_duration, published_timestamp, subject]
Index: []

***which are the subjects that are published in 2015***

In [ ]:
df['published_timestamp'] = pd.to_datetime(df.published_timestamp)

In [ ]:
df['year']= df['published_timestamp'].dt.year
df

      course_id  ...  year
0        288942  ...  2014
1       1170074  ...  2017
2       1193886  ...  2017
3       1116700  ...  2017
4       1120410  ...  2017
...         ...  ...   ...
3677     328960  ...  2015
3678     552700  ...  2015
3679     631754  ...  2015
3680    1225194  ...  2017
3681     964478  ...  2016

[3682 rows x 12 columns]

In [ ]:
df[df.year==2015]

      course_id  ...  year
10       591880  ...  2015
16       302450  ...  2015
19       384928  ...  2015
23       550842  ...  2015
26       486240  ...  2015
...         ...  ...   ...
3675     551170  ...  2015
3676     498488  ...  2015
3677     328960  ...  2015
3678     552700  ...  2015
3679     631754  ...  2015

[1014 rows x 12 columns]

***what are the maximum no of sub for each level of course***

In [ ]:
df.groupby('level')['num_subscribers'].max()

level
All Levels            268923
Beginner Level        161029
Expert Level            5172
Intermediate Level     29167
Name: num_subscribers, dtype: int64

In [ ]:
df.groupby('level').max()

                    course_id  ...  year
level                          ...
All Levels            1277924  ...  2017
Beginner Level        1282064  ...  2017
Expert Level          1275790  ...  2017
Intermediate Level    1276182  ...  2017

[4 rows x 11 columns]